@font-face {
    font-family: teste;
    src: url("../../fonts/font4.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body{
    background-color: #54123B;
    font-size: 25px;
}

h1 img {
    width: 30px;
    height: 30px;
    margin: 0 1px 0 2px;
}

header#cabecalho{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

header h1{
    font-family:teste;
    font-weight: 900;
}

p.nomePoke{
    font-size: 20px;
    font-weight:500;
    color: black;
}

.pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 250px;
    padding-bottom: 7px;
    cursor: pointer;
	user-select: none;
    background-color: white;
    border-radius: 10px;
}

section.main{
    width: 80%;
    height: 428px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.linha{
    width: 90%;
    display: flex;
    margin: 10px auto 20px auto;
    flex-direction: row;
    gap: 21px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div#filtros{
    width: 100%;
    height: 50px;
    background-color: #C02739;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form.pesquisa{
    display: flex;
    align-items: center;
    width: 350px;
    margin-left: 10px;
}

input#pesquisaNome{
    border-radius: none;
    border: none;
    width: 300px;
    height: 25px;
    background-color: #84142D;
    color: white;
    padding-left: 10px;
}

input#pesquisaNome:focus{
    outline: none;
}

input#pesquisaNome::placeholder{
    color: #ffffffc3;
}

select#selecionar{
    width: 110px;
    text-align: center;
    border-radius: none;
    border: none;
}

button#enviar{
    width: 50px;
    border: none;
    background-color: #84142D;
    color: white;
    padding: 5px;
    cursor: pointer;
}

button#enviarNome{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #84142D;
    padding-left: 50px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.reload{
    background-image: url(../../img/reload.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.search{
    background-image: url(../../img/seta2.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

p#testes{
    position: relative;
    bottom: 2px;
}

div#areapokemon{
    width: 100%;
    height: 378px;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    background-color: #e6e6e6;
}

::-webkit-scrollbar{
    background-color: #09463b;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #29C7AC;
    border-radius: 100px;
    width: 5px;
}

img{
    width: 141px;
    height: 141px;
}

.divIMG{
    background-color: green;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.divIMG.Water{
    background-color: #4af0ff47;
}

.divIMG.Fire{
    background-color: #ff4a4a47;
}

.divIMG.Electric{
    background-color: #f9ff4a47;
}

.divIMG.Grass{
    background-color: #4aff5647;
}

.numPoke{
    font-size: 11px;
    font-weight: bold;
    color: #787878;
}

.nomeNumero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

div.divTipo.Water{
    background-color: #4790fd;
}

div.divTipo.Fire{
    background-color: #ff7d4a;
}

div.divTipo.Grass{
    background-color: #8cc51bd2;
    color: black;
}

div.divTipo.Poison{
    background-color: #b500b8af;
}

div.divTipo.Electric{
    background-color: #ffd000;
    color: black;
}
div.divTipo.Flying{
    background: linear-gradient(#00d1fa 50%,#b9b9b9 50%);
    color: black;
}

div.divTipo{
    font-size: 12px;
    width: 65px;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding-bottom: 2px;
}

.containerTipo{
    width: 100%;
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

/* --------------------- */
/* telas de 320px à 374px */
@media (max-width: 374px){ 

    section.main{
        width: 100%;
        height: 100vh;
    }

    div.linha{
        display: flex;
        justify-content: center;
    }

    div#areapokemon{
        height: 100vh;
    }

    .pokemon{
        width: 120px;
        height: 210px;
    }

    form#tipos{
        display: none;
    }

    form{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input#pesquisaNome{
        width: 75%;
    }

    img{
        width: 120px;
        height: 120px;
    }
}

/* telas de 375px à 424px */
@media (min-width: 375px) and (max-width: 424px){
    
    section.main{
        width: 100%;
        height: 100vh;
    }

    div.linha{
        display: flex;
        justify-content: center;
    }

    div#areapokemon{
        height: 100vh;
    }


    .pokemon{
        width: 150px;
        height: 230px;
    }

    form#tipos{
        display: none;
    }

    form{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input#pesquisaNome{
        width: 75%;
    }
}

/* telas de 425px à 767px */
@media (min-width: 425px) and (max-width: 767px){
    
    section.main{
        width: 90%;
    }

    div.linha{
        display: flex;
        justify-content: center;
    }

    .pokemon{
        width: 157px;
        height: 230px;
    }

    form#tipos{
        display: none;
    }

    form{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input#pesquisaNome{
        width: 75%;
    }
}

/* telas de 768px à 1023px */
@media (min-width: 768px) and (max-width: 1023px){
    
    section.main{
        width: 90%;
    }

    .pokemon{
        width: 180px;
        height: 230px;
    }

}
